{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="about_company_banner_container">
    <div class="about_company_banner">
      <div class="text_on_about_company_banner">
        <p>Добро пожаловать на сайт нашего завода по <br> производству металлобетонных изделий! Мы рады <br> представить вам нашу продукцию и услуги, которые <br> мы предоставляем на протяжении многих лет. <br> <br> В наши услуги входит доставка по всем регионам <br> Росси.</p>
      </div>
      <div class="button_on_about_company_banner">
        <button>Прейтии к продукции</button>
        <button>Узнать подробнее</button>
      </div>
    </div>
  </div>
</body>
<div class="heading_1">
  <h2>Продукция</h2>
</div>
<div class="container_product">
  <div class="product_1"><img src="{% static 'img/image 3.png' %}" alt="">
    <div class="text_on_production">
      <p class="name_product" href="">Бетонные кольца</p>
      <p class="about_product">Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.</p>
      <div class="buttons_on_production">
        <button class="information">Узнать подробнее</button>
        <button class="buy">Купить</button>
      </div>
    </div>
  </div>
  <div class="product_2"><img src="{% static 'img/image 3.png' %}" alt="">
    <div class="text_on_production">
      <p class="name_product"> Бетонные кольца</p>
      <p class="about_product">Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.</p>
      <div class="buttons_on_production">
        <button class="information">Узнать подробнее</button>
        <button class="buy">Купить</button>
      </div>
    </div>
  </div>
  <div class="product_3"><img src="{% static 'img/image 3.png' %}" alt="">
    <div class="text_on_production">
      <p class="name_product"> Бетонные кольца</p>
      <p class="about_product">Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.</p>
      <div class="buttons_on_production">
        <button class="information">Узнать подробнее</button>
        <button class="buy">Купить</button>
      </div>
    </div>
  </div>
  <div class="product_4"><img src="{% static 'img/image 3.png' %}" alt="">
    <div class="text_on_production">
      <p class="name_product"> Бетонные кольца</p>
      <p class="about_product">Бетонные кольца для колодца - это неотъемлемый элемент при строительстве колодцев, используемый для создания шахты. Они представляют собой цилиндрические блоки, изготовленные из тяжелого бетона, которые имеют стандартные размеры и форму. Кольца для колодцев обеспечивают герметичность и прочность конструкции, предотвращают осыпание грунта и проникновение грунтовых вод.</p>
      <div class="buttons_on_production">
        <button class="information">Узнать подробнее</button>
        <button class="buy">Купить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}